.add-book-container{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.add-book-container h1 {
    font-size: 1.5em;
}

.add-book-container button{
    margin-bottom: 0.5em;
}

.google-result{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5em;

    border-radius: 1em;
    padding: 0.3em;
    background-color: var(--clr2);

}

.google-result>*{
    margin-bottom: 0;
}