.book-details{
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;


}

.book-details h1{
    font-size: 1.3em;
}

.book-details p{
    max-width: 300px;
    text-align: justify;
}