:root {
  --clr1: #536493;
  --clr2: #D4BDAC;
  --clr3: #EF5A6F;

  --clr2-light: hsl(25, 32%, 90%);
 
  --clr1bg: #FFF1DB;
  --clr1bg-light: rgb(205, 221, 200);
  --clr2bg: rgb(233, 206, 221);
  --clr2bg-light: rgb(247, 185, 219);

  --gray1: rgb(240, 240, 240);
  --gray2: rgb(155, 155, 155);
  --gray3: rgb(44, 44, 44);

}